
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Hello Everyone, Welcome to my First Website</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Created this webpage on 11/27/2022 using Start Bootstrap, Navigate to pages Below:</div><br>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="https://www.youtube.com/watch?v=l23KYiM5Se0">Click Here & You can learn with me too!!</a><br>
                    <a class="badge bg-secondary text-decoration-none link-light" href="https://validator.w3.org/"> Sample Test page</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="assets/Logo.png" height="500" width="700" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">I have created this web Page</p>
                    <p class="fs-5 mb-4">It has been created using Angular JS</p>
                    <p class="fs-5 mb-4">I have integrate Bootstrap as well</p>
                    <h2 class="fw-bolder mb-4 mt-5">Well!! Theres JQuery too!!</h2>
                    <p class="fs-5 mb-4">For me, the most fascinating thing is it does alot of things, Its like a blog page</p>
                </section>
            </article>
        